<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
  	<servlet>
		<servlet-name>jakarta-rest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>org.eclipse.rest</param-value>
		</init-param>
		<!-- activer @RolesAllowed -->
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.server.filter.RolesAllowedDynamicFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jakarta-rest</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
  <display-name>Archetype Created Web Application</display-name>
  
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>API REST sécurisée</web-resource-name>
			<!-- on protège toutes les URLs de l'API -->
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- seuls ces rôles pourront entrer -->
			<role-name>api-user</role-name>
			<role-name>api-admin</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>REST-REALM</realm-name>
	</login-config>

	<!-- déclaration des rôles connus -->
	<security-role>
		<role-name>api-user</role-name>
	</security-role>
	<security-role>
		<role-name>api-admin</role-name>
	</security-role>
</web-app>
